* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    width: 100%;
    height: 100%;
}

main section {
    width: 100%;
    padding: var(--padding-2xl);
    display: flex;
    gap: var(--gutter-lg);
}

main section .top {
    display: flex;
    align-items: center;
    gap: var(--gutter-md);
     i{
            font-size: var(--font-size-2xl);
            color: var(--bg-image-color);
            background-color: var(--bg-primary-color);
            border-radius: var(--border-radius-2xl);
        }
    h4{
        
        font-size: var(--font-size-md);
        font-weight: 600;
        color: var(--text-primary-color);
    }
}

.btn {
    padding: var(--padding-sm) var(--padding-lg);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: var(--border-radius-2xl);
    background-color: var(--bg-image-color);
    color: var(--text-primary-color);
    font-size: var(--font-size-md);
    font-weight: 600;
}

#reset-btn {
    background-color: var(--bg-reset-color);
    color: var(--text-primary-color);
    font-size: var(--font-size-md);
}

#download-btn {
    background-color: var(--bg-success-color);
    color: var(--text-primary-color);
    font-size: var(--font-size-md);
}

main section .left {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--gutter-3xl);
    padding-left: var(--padding-3xl);
    width: 80%;
}

main section .right {
    width: 30%;
    background-color: var(--bg-secondary-color);
    padding: var(--padding-md);
    gap: var(--padding-2xl);
    border-radius: var(--border-radius-xl);
}

main section .top {
    display: flex;
    /* flex-direction: column; */
    gap: var(--gutter-md);
}

main section .bottom {
    width: 70%;
    aspect-ratio: 4/3;
    background-color: var(--bg-secondary-color);
    border-radius: var(--border-radius-xl);
    padding: var(--padding-2xl);
    display: flex;
    align-items: center;
    justify-content: center;
}

main section .bottom .placeholder {
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0.6;
    /* gap: var(--gutter-md); */
}

main section .bottom .placeholder i {
    font-size: 5rem;
    margin-bottom: var(--margin-sm);
    cursor: pointer;
}

main section .bottom .placeholder p {
    font-size: var(--font-size-lg);
    font-weight: 600;
    color: var(--text-primary-color);
}

main section .right {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
}

main section .right .filter {
    width: 100%;
}

main section .right .filter input {
    width: 100%;
    outline: none;
    margin-top: var(--margin-sm);
    appearance: none;
}

main section .right .filter input::-webkit-slider-runnable-track {
    height: 5px;
    background-color: var(--bg-active-color);
}


main section .right .filter input::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    background-color: rgb(38, 38, 134);
    appearance: none;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -8px;
}
canvas{
    /* background-color: red; */
    max-width: 95%;
    max-height: 900px;
    display: none;
}
.presets{
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter-sm);
}